<?xml version="1.0" encoding="UTF-8"?>
<Process xsi:noNamespaceSchemaLocation="process.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Code>dem</Code>
    <Name>DEM_PROCESS_NAME</Name>
    <Version>${project.version}</Version>
    <Description>DEM_PROCESS_NAME
    </Description>
    <ProcessingClass>DEMProcessingImpl</ProcessingClass>
    <ServiceName>dem</ServiceName>
    <Author>NGC</Author>
    <LanguageFile>Bundle</LanguageFile>
    <Forms>
                <Form>
            <Code>DEM_TYPE</Code>
            <Name>DEM_TYPEFORMNAME</Name>
            <Version>1.0</Version>
            <Description>DEM_TYPE_DESCRIPTION</Description>
            <Path>DEM_TYPE</Path>
            <Type>0</Type>
            <Processing>DEM_TYPE</Processing>
        </Form>
        <Form>
            <Code>DEM01</Code>
            <Name>DEM01_FORMNAME</Name>
            <Version>1.0.0</Version>
            <Description>DEM01_FORM_DESCRIPTION</Description>
            <Path>DEM01</Path>
            <Type>0</Type>
            <Processing>DEM01</Processing>
        </Form>
        <Form>
            <Code>DEM11</Code>
            <Name>DEM11_FORMNAME</Name>
            <Version>1.0.0</Version>
            <Description>DEM11_FORM_DESCRIPTION</Description>
            <Path>DEM11</Path>
            <Type>0</Type>
            <Processing>DEM02</Processing>
        </Form>
        <Form>
            <Code>DEM601</Code>
            <Name>DEM601_FORMNAME</Name>
            <Version>1.0.0</Version>
            <Description>DEM601_FORM_DESCRIPTION</Description>
            <Path>DEM601</Path>
            <Type>0</Type>
            <Processing>DEM602</Processing>
        </Form>
        <Form>
            <Code>DEM</Code>
            <Name>DEM_FORMNAME</Name>
            <Version>1.0.0</Version>
            <Description>DEM_FORM_DESCRIPTION</Description>
            <Path>DEM</Path>
            <Type>0</Type>
            <Processing>DEM</Processing>
        </Form>
        <Form>
            <Code>DEM09</Code>
            <Name>DEM09_FORMNAME</Name>
            <Version>1.0.0</Version>
            <Description>DEM09_FORM_DESCRIPTION</Description>
            <Path>DEM09</Path>
            <Type>0</Type>
            <Processing>DEM09</Processing>
        </Form>
        <Form>
            <Code>DEMM</Code>
            <Name>DEMM_FORMNAME</Name>
            <Version>1.0.0</Version>
            <Description>DEMM_FORM_DESCRIPTION</Description>
            <Path>DEMM</Path>
            <Type>0</Type>
            <Processing>DEMM,DEM03</Processing>
        </Form>
     

    </Forms>
    <Processings>
        
        <Processing>
            <Code>DEM01</Code>
            <Name>DEM01PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>DEM11</Code>
            <Name>DEM11PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>DEM02</Code>
            <Name>DEM02PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>DEM03</Code>
            <Name>DEM03PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>DEM04</Code>
            <Name>DEM04PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>DEM09</Code>
            <Name>DEM09PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>DEM10</Code>
            <Name>DEM10PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>DEM601</Code>
            <Name>DEM601PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>DEM602</Code>
            <Name>DEM602PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>DEM</Code>
            <Name>DEMPROCESSING</Name>
        </Processing>
        <Processing>
            <Code>DEMM</Code>
            <Name>DEMMPROCESSING</Name>
        </Processing>
   

    </Processings>
    <Attachments>
                <Attachment>
            <Code>IM</Code>
            <Name>IMMATRICULATION </Name>
        </Attachment>
        <Attachment>
            <Code>EN</Code>
            <Name>ENGARGEMENT</Name>
        </Attachment>
        <Attachment>
            <Code>AT</Code>
            <Name>ATTESTATION</Name>
        </Attachment>
        <Attachment>
            <Code>AU</Code>
            <Name>AUTRE</Name>
        </Attachment>

    </Attachments>
    <Messages>
        
        <Message>
            <Code>DEM01</Code>
            <Name>DEM01MESSAGE</Name>
        </Message>
        <Message>
            <Code>DEM11</Code>
            <Name>DEM11MESSAGE</Name>
        </Message>
        <Message>
            <Code>DEM02</Code>
            <Name>DEM02MESSAGE</Name>
        </Message>
        <Message>
            <Code>DEM03</Code>
            <Name>DEM03MESSAGE</Name>
        </Message>
        <Message>
            <Code>DEM04</Code>
            <Name>DEM04MESSAGE</Name>
        </Message>
        <Message>
            <Code>DEM09</Code>
            <Name>DEM09MESSAGE</Name>
        </Message>
        <Message>
            <Code>DEM10</Code>
            <Name>DEM10MESSAGE</Name>
        </Message>
        <Message>
            <Code>DEM601</Code>
            <Name>DEM601MESSAGE</Name>
        </Message>
        <Message>
            <Code>DEM602</Code>
            <Name>DEM602MESSAGE</Name>
        </Message>
   

    </Messages>
</Process>
