<?xml version="1.0" encoding="UTF-8"?>
<Process xsi:noNamespaceSchemaLocation="process.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Code>atm</Code>
    <Name>AVIS TECHNIQUE MINEPIA</Name>
    <Version>${project.version}</Version>
    <Description>AVIS TECHNIQUE MINEPIA
    </Description>
    <ProcessingClass>ATMProcessingImpl</ProcessingClass>
    <ServiceName>atm</ServiceName>
    <Author>NGC</Author>
    <LanguageFile>Bundle</LanguageFile>
    <Forms>
                <Form>
            <Code>TYPEAVIS</Code>
            <Name>TYPEAVISFORMNAME</Name>
            <Version>1.0</Version>
            <Description>TYPEAVIS_DESCRIPTION</Description>
            <Path>TYPEAVIS</Path>
            <Type>0</Type>
            <Processing>TYPEAVIS</Processing>
        </Form>
        <Form>
            <Code>ATM01</Code>
            <Name>ATM01_FORMNAME</Name>
            <Version>1.0.0</Version>
            <Description>ATM01_FORM_DESCRIPTION</Description>
            <Path>ATM01</Path>
            <Type>0</Type>
            <Processing>ATM01</Processing>
        </Form>
        
        <Form>
            <Code>ATM01R</Code>
            <Name>ATM01R_FORMNAME</Name>
            <Version>1.0.0</Version>
            <Description>ATM01R_FORM_DESCRIPTION</Description>
            <Path>ATM01R</Path>
            <Type>0</Type>
            <Processing>ATM01R</Processing>
        </Form>
        
        
        <Form>
            <Code>ATM11</Code>
            <Name>ATM11_FORMNAME</Name>
            <Version>1.0.0</Version>
            <Description>ATM11_FORM_DESCRIPTION</Description>
            <Path>ATM11</Path>
            <Type>0</Type>
            <Processing>ATM02</Processing>
        </Form>
        
        
        <Form>
            <Code>ATM11R</Code>
            <Name>ATM11R_FORMNAME</Name>
            <Version>1.0.0</Version>
            <Description>ATM11R_FORM_DESCRIPTION</Description>
            <Path>ATM11R</Path>
            <Type>0</Type>
            <Processing>ATM02</Processing>
        </Form>
        
        <Form>
            <Code>ATM601</Code>
            <Name>ATM601_FORMNAME</Name>
            <Version>1.0.0</Version>
            <Description>ATM601_FORM_DESCRIPTION</Description>
            <Path>ATM601</Path>
            <Type>0</Type>
            <Processing>ATM602</Processing>
        </Form>
        <Form>
            <Code>ATM</Code>
            <Name>ATM_FORMNAME</Name>
            <Version>1.0.0</Version>
            <Description>ATM_FORM_DESCRIPTION</Description>
            <Path>ATM</Path>
            <Type>0</Type>
            <Processing>ATM</Processing>
        </Form>
        <Form>
            <Code>ATM09</Code>
            <Name>ATM09_FORMNAME</Name>
            <Version>1.0.0</Version>
            <Description>ATM09_FORM_DESCRIPTION</Description>
            <Path>ATM09</Path>
            <Type>0</Type>
            <Processing>ATM09</Processing>
        </Form>
       
        
        <Form>
            <Code>ATMM</Code>
            <Name>ATMM_FORMNAME</Name>
            <Version>1.0.0</Version>
            <Description>ATMM_FORM_DESCRIPTION</Description>
            <Path>ATMM</Path>
            <Type>0</Type>
            <Processing>ATMM,ATM03</Processing>
        </Form>
        
        <Form>
            <Code>ATMMR</Code>
            <Name>ATMMR_FORMNAME</Name>
            <Version>1.0.0</Version>
            <Description>ATMMR_FORM_DESCRIPTION</Description>
            <Path>ATMMR</Path>
            <Type>0</Type>
            <Processing>ATMMR,ATM03R</Processing>
        </Form>
     
        <Form>
            <Code>AVISTECH</Code>
            <Name>AVISTECHFORMNAME</Name>
            <Version>1.0</Version>
            <Description>AVISTECH_DESCRIPTION</Description>
            <Path>AVISTECH</Path>
            <Type>0</Type>
            <Processing>AVISTECH</Processing>
        </Form>

    </Forms>
    <Processings>
        
        <Processing>
            <Code>ATM01</Code>
            <Name>ATM01PROCESSING</Name>
        </Processing>
         <Processing>
            <Code>ATM01R</Code>
            <Name>ATM01RPROCESSING</Name>
        </Processing>
        <Processing>
            <Code>ATM11</Code>
            <Name>ATM11PROCESSING</Name>
        </Processing>
        
        <Processing>
            <Code>ATM11R</Code>
            <Name>ATM11RPROCESSING</Name>
        </Processing>
        
        <Processing>
            <Code>ATM02</Code>
            <Name>ATM02PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>ATM03</Code>
            <Name>ATM03PROCESSING</Name>
        </Processing>
         <Processing>
            <Code>ATM03R</Code>
            <Name>ATM03RPROCESSING</Name>
        </Processing>
        <Processing>
            <Code>ATM04</Code>
            <Name>ATM04PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>ATM09</Code>
            <Name>ATM09PROCESSING</Name>
        </Processing>
      
        <Processing>
            <Code>ATM10R</Code>
            <Name>ATM10RPROCESSING</Name>
        </Processing>
        <Processing>
            <Code>ATM10</Code>
            <Name>ATM10PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>ATM601</Code>
            <Name>ATM601PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>ATM602</Code>
            <Name>ATM602PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>ATM</Code>
            <Name>ATMPROCESSING</Name>
        </Processing>
        <Processing>
            <Code>ATMM</Code>
            <Name>ATMMPROCESSING</Name>
        </Processing>
        <Processing>
            <Code>ATMMR</Code>
            <Name>ATMMRPROCESSING</Name>
        </Processing>
   

    </Processings>
    <Attachments>
                <Attachment>
            <Code>DTarif</Code>
            <Name>Demande de tarif</Name>
        </Attachment>
        <Attachment>
            <Code>AT</Code>
            <Name>Autorisation de création</Name>
        </Attachment>
        <Attachment>
            <Code>CCI</Code>
            <Name>Certificat de conformité</Name>
        </Attachment>
        <Attachment>
            <Code>CMP</Code>
            <Name>Certificats médicaux du personnel</Name>
        </Attachment>
        <Attachment>
            <Code>LI</Code>
            <Name>Licence d’importation</Name>
        </Attachment>
        <Attachment>
            <Code>TPV</Code>
            <Name>Titre de patente valide</Name>
        </Attachment>
        <Attachment>
            <Code>QPA</Code>
            <Name>Quittance de paiement des frais afférents</Name>
        </Attachment>
        <Attachment>
            <Code>PDCE</Code>
            <Name>Photocopie de la décision de création de l’établissement</Name>
        </Attachment>
        <Attachment>
            <Code>PDDE</Code>
            <Name>Photocopie de la décision d’ouverture de l’établissement</Name>
        </Attachment>
        <Attachment>
            <Code>PPEC</Code>
            <Name>Photocopie de la patente de l’exercice en cours</Name>
        </Attachment>
        <Attachment>
            <Code>CRT</Code>
            <Name>Copie des reçus de la taxe ISV</Name>
        </Attachment>
        <Attachment>
            <Code>LPI</Code>
            <Name>Liste des produits et adresses des fournisseurs</Name>
        </Attachment>
        <Attachment>
            <Code>RAA</Code>
            <Name>Rapport d’activités de l’année</Name>
        </Attachment>
        <Attachment>
            <Code>PCCCEC</Code>
            <Name>Photocopie certifiée du certificat de conformité</Name>
        </Attachment>
        <Attachment>
            <Code>CDPP</Code>
            <Name>Copie de la décision d’ouverture et photocopie de la patente</Name>
        </Attachment>
        <Attachment>
            <Code>LMEI</Code>
            <Name>Liste de matériel et des équipements à importer</Name>
        </Attachment>
        <Attachment>
            <Code>AUTRE</Code>
            <Name>Autre</Name>
        </Attachment>
        
        
        <Attachment>
            <Code>COPIE</Code>
            <Name>Copie certifiée conforme de l’ancien avis technique</Name>
        </Attachment>
        
        <Attachment>
            <Code>RAPPORT</Code>
            <Name>Rapport d’activité de l’exercice écoulée</Name>
        </Attachment>
        
        <Attachment>
            <Code>CONFORMITE</Code>
            <Name>Certificat de conformité des installations</Name>
        </Attachment>
        
        
        <Attachment>
            <Code>ORIGINE</Code>
            <Name>Certificat d’origine des produits importés</Name>
        </Attachment>
        
        <Attachment>
            <Code>DECLARATION</Code>
            <Name>Copie de déclaration des douanes ; Laissez-passer et Certificat sanitaire des produits importés</Name>
        </Attachment>
        
        <Attachment>
            <Code>PREVISION</Code>
            <Name>Liste prévisionnelle des produits à importer</Name>
        </Attachment>
        
         <Attachment>
            <Code>CERTIFICAT</Code>
            <Name>Copies des certificats médicaux du personnel</Name>
        </Attachment>
        
        <Attachment>
            <Code>PATEN</Code>
            <Name>Patente en cours de validité</Name>
        </Attachment>
        
         <Attachment>
            <Code>QUIT</Code>
            <Name>Quittance de paiement des frais afférents</Name>
        </Attachment>
        
    </Attachments>
    <Messages>
        
        <Message>
            <Code>ATM01</Code>
            <Name>ATM01MESSAGE</Name>
        </Message>
        <Message>
            <Code>ATM01R</Code>
            <Name>ATM01RMESSAGE</Name>
        </Message>
        <Message>
            <Code>ATM11</Code>
            <Name>ATM11MESSAGE</Name>
        </Message>
        
        <Message>
            <Code>ATM11R</Code>
            <Name>ATM11RMESSAGE</Name>
        </Message>
        
        
        <Message>
            <Code>ATM02</Code>
            <Name>ATM02MESSAGE</Name>
        </Message>
        <Message>
            <Code>ATM03</Code>
            <Name>ATM03MESSAGE</Name>
        </Message>
        <Message>
            <Code>ATM03R</Code>
            <Name>ATM03RMESSAGE</Name>
        </Message>
        <Message>
            <Code>ATM04</Code>
            <Name>ATM04MESSAGE</Name>
        </Message>
        <Message>
            <Code>ATM09</Code>
            <Name>ATM09MESSAGE</Name>
        </Message>
         <Message>
            <Code>ATM09R</Code>
            <Name>ATM09RMESSAGE</Name>
        </Message>
        <Message>
            <Code>ATM10</Code>
            <Name>ATM10MESSAGE</Name>
        </Message>
        <Message>
            <Code>ATM10R</Code>
            <Name>ATM10RMESSAGE</Name>
        </Message>
        <Message>
            <Code>ATM601</Code>
            <Name>ATM601MESSAGE</Name>
        </Message>
        <Message>
            <Code>ATM602</Code>
            <Name>ATM602MESSAGE</Name>
        </Message>
   

    </Messages>
</Process>
