<?xml version="1.0" encoding="UTF-8"?>
<Process xsi:noNamespaceSchemaLocation="process.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Code>vt2</Code>
    <Name>vt2Name</Name>
    <Version>1.0.5</Version>
    <Description>VISA TECHNIQUE MINEPDED</Description>
    <ProcessingClass>Vt2Traitement</ProcessingClass>
    <ServiceName>vt2</ServiceName>
    <Author>Ulrich ETEME</Author>
    <LanguageFile>Bundle</LanguageFile>
    <Forms>
        <Form>
            <Code>VT201</Code>
            <Name>InitiationDossier</Name>
            <Version>1.0.0</Version>
            <Description>Initiation du dossier de demande de visa technique</Description>
            <Path>VT201</Path>
            <Type>0</Type>
            <Processing>VT201</Processing>
        </Form>
        <Form>
            <Code>VT2</Code>
            <Name>ConsultationVisaTechnique</Name>
            <Version>1.0.0</Version>
            <Description>Consultation des visas techniques</Description>
            <Path>VT2</Path>
            <Type>3</Type>
            <Processing>VT2</Processing>
        </Form> 
    </Forms>
    <!--ICI -->
    <Processings>
        <Processing>
            <Code>VT201</Code>
            <Name>VT201PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>VT202</Code>
            <Name>VT202PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>VT203</Code>
            <Name>VT203PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>VT204</Code>
            <Name>VT204PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>VT211</Code>
            <Name>VT211PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>VT2</Code>
            <Name>VT2PROCESSING</Name>
        </Processing>
    </Processings>
    <Attachments>        
        <Attachment>
            <Code>FACTUREPRO</Code>
            <Name>FACTURE PRO FORMA</Name>
        </Attachment>
        <Attachment>
            <Code>ATTES_INSC</Code>
            <Name>Attestation d’inscription au registre de commerce</Name>
        </Attachment>   
        <Attachment>
            <Code>NOTETECH</Code>
            <Name>Note technique</Name>
        </Attachment>    
        <Attachment>
            <Code>QUITTANCE</Code>
            <Name>Quittance de versement </Name>
        </Attachment>  
        <Attachment>
            <Code>ACCORD_STRUCT</Code>
            <Name>Accord délivré par une structure ayant un permis environnemental</Name>
        </Attachment>                                   
        <Attachment>
            <Code>CCT</Code>
            <Name>Certificat de controle technique</Name>
        </Attachment>                
        <Attachment>
            <Code>AUTRE</Code>
            <Name>Autres Pieces</Name>
        </Attachment>
        <Attachment>
            <Code>VT2</Code>
            <Name>Visa technique MINEPDED</Name>
        </Attachment>
    </Attachments>
    <Messages>
        <Message>
            <Code>VT201</Code>
            <Name>VT201MESSAGE</Name>
        </Message>
        <Message>
            <Code>VT202</Code>
            <Name>VT202MESSAGE</Name>
        </Message>
        <Message>
            <Code>VT203</Code>
            <Name>VT203MESSAGE</Name>
        </Message>
        <Message>
            <Code>VT204</Code>
            <Name>VT204MESSAGE</Name>
        </Message>
        <Message>
            <Code>VT211</Code>
            <Name>VT211MESSAGE</Name>
        </Message>
        <Message>
            <Code>VT2</Code>
            <Name>VT2MESSAGE</Name>
        </Message>        
    </Messages>
</Process>