<?xml version="1.0" encoding="UTF-8"?>
<Process xsi:noNamespaceSchemaLocation="process.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Code>vt2</Code>
    <Name>VT2_PROCESS_NAME</Name>
    <Version>${project.version}</Version>
    <Description>VT2_PROCESS_NAME
    </Description>
    <ProcessingClass>VT2ProcessingImpl</ProcessingClass>
    <ServiceName>vt2</ServiceName>
    <Author>NGC</Author>
    <LanguageFile>Bundle</LanguageFile>
    <Forms>
                <Form>
            <Code>VT201</Code>
            <Name>VT201_FORMNAME</Name>
            <Version>1.0.0</Version>
            <Description>VT201_FORM_DESCRIPTION</Description>
            <Path>VT201</Path>
            <Type>0</Type>
            <Processing>VT201</Processing>
        </Form>
        <Form>
            <Code>VT211</Code>
            <Name>VT211_FORMNAME</Name>
            <Version>1.0.0</Version>
            <Description>VT211_FORM_DESCRIPTION</Description>
            <Path>VT211</Path>
            <Type>0</Type>
            <Processing>VT202</Processing>
        </Form>
        <Form>
            <Code>VT2601</Code>
            <Name>VT2601_FORMNAME</Name>
            <Version>1.0.0</Version>
            <Description>VT2601_FORM_DESCRIPTION</Description>
            <Path>VT2601</Path>
            <Type>0</Type>
            <Processing>VT2602</Processing>
        </Form>
        <Form>
            <Code>VT2</Code>
            <Name>VT2_FORMNAME</Name>
            <Version>1.0.0</Version>
            <Description>VT2_FORM_DESCRIPTION</Description>
            <Path>VT2</Path>
            <Type>0</Type>
            <Processing>VT2</Processing>
        </Form>
        <Form>
            <Code>VT209</Code>
            <Name>VT209_FORMNAME</Name>
            <Version>1.0.0</Version>
            <Description>VT209_FORM_DESCRIPTION</Description>
            <Path>VT209</Path>
            <Type>0</Type>
            <Processing>VT209</Processing>
        </Form>
        <Form>
            <Code>VT2M</Code>
            <Name>VT2M_FORMNAME</Name>
            <Version>1.0.0</Version>
            <Description>VT2M_FORM_DESCRIPTION</Description>
            <Path>VT2M</Path>
            <Type>0</Type>
            <Processing>VT2M,VT203</Processing>
        </Form>
     

    </Forms>
    <Processings>
        
        <Processing>
            <Code>VT201</Code>
            <Name>VT201PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>VT211</Code>
            <Name>VT211PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>VT202</Code>
            <Name>VT202PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>VT203</Code>
            <Name>VT203PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>VT204</Code>
            <Name>VT204PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>VT209</Code>
            <Name>VT209PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>VT210</Code>
            <Name>VT210PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>VT2601</Code>
            <Name>VT2601PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>VT2602</Code>
            <Name>VT2602PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>VT2</Code>
            <Name>VT2PROCESSING</Name>
        </Processing>
        <Processing>
            <Code>VT2M</Code>
            <Name>VT2MPROCESSING</Name>
        </Processing>
   

    </Processings>
    <Attachments>
                <Attachment>
            <Code>BL</Code>
            <Name>Connaissement</Name>
        </Attachment>
        <Attachment>
            <Code>FACTURE</Code>
            <Name>Facture</Name>
        </Attachment>

    </Attachments>
    <Messages>
        
        <Message>
            <Code>VT201</Code>
            <Name>VT201MESSAGE</Name>
        </Message>
        <Message>
            <Code>VT211</Code>
            <Name>VT211MESSAGE</Name>
        </Message>
        <Message>
            <Code>VT202</Code>
            <Name>VT202MESSAGE</Name>
        </Message>
        <Message>
            <Code>VT203</Code>
            <Name>VT203MESSAGE</Name>
        </Message>
        <Message>
            <Code>VT204</Code>
            <Name>VT204MESSAGE</Name>
        </Message>
        <Message>
            <Code>VT209</Code>
            <Name>VT209MESSAGE</Name>
        </Message>
        <Message>
            <Code>VT210</Code>
            <Name>VT210MESSAGE</Name>
        </Message>
        <Message>
            <Code>VT2601</Code>
            <Name>VT2601MESSAGE</Name>
        </Message>
        <Message>
            <Code>VT2602</Code>
            <Name>VT2602MESSAGE</Name>
        </Message>
   

    </Messages>
</Process>
